.remove-btn {
  margin-right: .5rem;
}

.fade-enter {
  opacity: .01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: .01;
  transition: opacity 1000ms ease-in;
}

.header {
  background-color: #b0773f;
  color: #000000;
  text-align: center;
  padding: 10px;
  font-family: Verdana;
  font-size: large;
}

body {
  background: #fafafa;
  
  color : #2b2129;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5a6e5a;
   color: #ffffff;
   text-align: center;
   font-family: Verdana;
 }

 .map {
  height: 100vh;
}